---
import NotificationsLayout from "../layouts/NotificationsLayout.astro";
---

<NotificationsLayout>
	<main class="w-[100%] h-[100dvh]">
		<h1 class="text-[16px] font-plusjakartasans ">Notifications</h1>
	</main>
</NotificationsLayout>
		



