---
import Notification from "../components/NotificationContainer";
import NotificationsBar from "../components/NotificationsBar";
import NotificationsLayout from "../layouts/NotificationsLayout.astro";
import { $notifications } from '../store/notificationsStore'


const notifications = $notifications.value;

---

<NotificationsLayout>
	<main class="w-[100%] h-[100dvh] px-4">
		<meta charset="utf-8">
		<NotificationsBar notifications={notifications} client:load />
		<!-- <div class="flex flex-col gap-6 pb-8">
			{notifications?.map((notification) => <Notification  {...notification} />)}
		</div> -->
	</main>
</NotificationsLayout>
		



