---
import Notification from "../components/NotificationContainer";
import NotificationsBar from "../components/NotificationsBar";
import NotificationsLayout from "../layouts/NotificationsLayout.astro";
import { $notifications } from '../store/notificationsStore'


const notifications = $notifications.value;

---

<NotificationsLayout>
	<main class="w-[100%] h-[100dvh] lg:h-full px-4 lg:bg-very-light-grayish-blue lg:grid lg:place-items-center">
		<div class="lg:w-[1440px] lg:bg-transparent lg:grid lg:place-items-center">
		<NotificationsBar notifications={notifications} client:load />
			
		</div>
	</main>
</NotificationsLayout>
		



